
body{

    background-color: #131111;
    font-family: 'Open Sans';
    color:white;
}
h1{

    position: relative;
    color: white;
    left: 43%;
    top:20%;

}
h2
{
    position: relative;
    font-size: 100%;
    color: white;
    left: 40%;
    top:25%;


}
h3
{
    position: absolute;
    font-size: 100%;
    color: white;
    left: 25%;
    top:70%;


}
h4
{
    position: absolute;
    font-size: 100%;
    color: white;
    left: 42%;
    top:70%;


}
h5
{
    position: absolute;
    font-size: 100%;
    color: white;
    left: 60%;
    top:70%;


}
.opening
{
    position: absolute;
    font-size: 100%;
    color: white;
    left: 60%;
    top:80%;

}
.contact
{

    position: absolute;
    font-size: 100%;
    color: white;
    left: 42%;
    top:80%;


}

address
{
    position: absolute;
    font-size: 100%;
    color: white;
    left: 25%;
    top:80%;



}
#map
{

    height: 300px;
    width: 100%;


}

input[type = text]{

    border: 2px #bccd00;
    border-radius: 4px;
    width: 30%;
    height: 5%;
    background-color:rgb(71, 71, 71);

}
input[type = submit]{

    position: absolute;
    border: 2px #bccd00;
    width: 10%;
    height: 5%;
    background-color:rgb(71, 71, 71);
    top: 160%;
    left:45%;
}

textarea
{
    position: absolute;
    border: 2px #bccd00;
    border-radius: 4px;
    background-color:rgb(71, 71, 71);
    left: 35%;
    top:140%;


}
.nametext
{
    position: absolute;
    left: 35%;
    top:100%;

}
.surnametext
{
    position: absolute;
    left:35%;
    top:110%;

}
.emailtext
{
    position: absolute;
    left:35%;
    top: 120%;

}
.subjecttext
{
    position: absolute;
    left:35%;
    top: 130%;


}
