body{

    font-family: 'Open Sans', sans-serif ;
    font-stretch: narrower;
}
.container {
    display: grid;
    grid-row-gap: 0px;
    
  }
  
  .level1 {
    background: #282828;
    grid-row: 1;
    margin-bottom:0px;
   
  }
  
  .level2 {
    background: #c0b5a9;
    grid-row: 2;
    margin-top:0px;

  }

  .level3 {
    background: #282828;
    grid-row: 3;
    margin-top:0px;

  }






#h11{
 font-size: 7vw;
 color: rgb(84, 117, 143) ;
 text-align: right;
 margin-top:5%;
 margin-bottom:0%;
 margin-right:40%;

}

#h12{
    font-size: 5vw;
    color: rgb(227, 230, 56) ;
    text-align: right;
    margin-left:45%;
    margin-top:0%;
    margin-bottom:7%;
    margin-right:40%;
    
}

#p11{
    font-size: 0.7vw;
    width: 35%;
    color: whitesmoke ;
    margin-left:52%;
    margin-top: 0%;
    margin-bottom:7%;
    top:30%;
   
    
}

#i11{
    
    margin-left:10%;
bottom: 2em
    max-width: 35%;
    max-height: 35%;

    z-index: 2;

}
 @media (max-width: 600px){
     #i11{
        top: 10%;
        max-width: 15%;
        max-height: 15%;

     }
 }






#h21{
    font-size: 6vw;
    color: #282828 ;
    margin-left:10%;
    top:20%;
    margin-bottom:0%;
}

#p21{
    font-size: 0.7vw;
    width: 35%;
    color: #282828 ;
    margin-top: 2%;
    margin-left:10%;
    margin-bottom:0%;
}
   

#i21{
    margin-left:60%;
    margin-top: 2%;
    max-width: 25%;
    max-height: 25%;
    z-index: 0;
}






#h31{
    font-size: 6vw;
    color: #c0b5a9 ;
    margin-left:45%;
    margin-top: 0%;
}

#p31{
    font-size: 0.7vw;
    width: 35%;
    color: #c0b5a9 ;
    margin-top: 2%;
    margin-left:45%;
    margin-bottom:0%;
}

#i31{
    margin-left:10%;
    margin-top: 2%;
    max-width: 30%;
    max-height: 30%;
    
    z-index: 0;
}














body { background: #fff; }
#wrapper {
    background: url(1px.png) repeat-y;
    background-size: 100% auto;
    width: 100%;
}
   



 