:root{
    --background:  #131111;
}

body{
    background-color: var(--background);
    font-family: 'Open Sans', sans-serif;
}
.logo{
    float: left;
    height: 15vmin;
    padding: 0%;
    width: 15vmin;
}
nav{
    float: left;
}
