body{
    background-color: #201e1e;
}
.logo{
    height: 15vmin;
    padding: 2%;
    width: 15vmin;
}
.menu{
    height: 15vmin;
    padding: 2%;
    width: 15vmin;
}
.close{
    height: 15vmin;
    padding: 2%;
    width: 15vmin;
}