{ extends "base.html" } { block style } ./views/menuPageStyle.css { endblock } { block content } 





    
  <div style="width: 50%; float:left">
    <h1 style="margin: 7vw 0 0 15vw;">About Us</h1>

    <img id="imgA" src="./views/assets/owner.jpg" alt="owner image" >


    <h1 style="margin: 15vw 0 5vw 5vw;">The Manager!</h1>
    <h3 id= "Manager" style="margin: 0 3vw 0 5vw;">The place is well managed by Andre, our very dedicated manager who manages the day to day issues and plans out the seasonal specialities!</h3>

    <img id="imgA" src="./views/assets/chef.jpg" alt="chef image" >

 </div>
 
 <div style="width: 50%; float:right">
    <img src="./views/assets/burgerAboutUs.png" alt="chef image" style="margin-left: 7vw; width: 40%;">


    <h1 style="margin: 7vw 0 5vw 5vw;">The Story!</h1>
    <h3 id= "Story" style="margin: 0 3vw 0 5vw;">John, founder of the 8 Bit Burger restaurant started this business back in 1982 to express his passion for food! </h3>

    <img id="imgA" src="./views/assets/manager.jpg" alt="manager image" >

    <h1 style="margin: 10vw 0 5vw 10vw;">The Chef!</h1>
    <h3 id= "Chef" style="margin: 0 3vw 15vw 5vw;">Like our food? Thank Pablo for his amazing expertise and his enthusiastic cuisine!  </h3>

</div>


   


        


            
  





    
{ endblock }