{ extends "base.html" } { block style } ./views/homeStyle.css { endblock } { block content }



    <div wrapper style=' text-align: center; '>
        <div style=' display: inline-block; vertical-align: top; '>
        <h1 >It' s time for</h1>
        <h1 style="color:#ED5847; text-decoration: underline;">Dinner</h1>
        <h1 style="font-size: 2vw;">The pleasure of finding the difference!</p>
        <a href="reserve.php"><button class="button">Book a table now!</button></a>

         </div>
    <div style='display: inline-block; vertical-align: top;'>
        <img src="./views/assets/chef.gif" alt="chef image" style="margin-left: 2vw; width: 120%;">
    </div>

</div>
</body>

</html>
{ endblock }