{ extends "base.html" } { block style } ./views/menuPageStyle.css { endblock } { block content } { for catagories in catagories }


<form action="./menu.php" method="POST" style=" float:left; padding: 1%; ">
    <input id="button" type="submit" value="{{ catagories.name }}">
    <input class="hidden" name="categoryShow" type="text" value="{{ catagories.id }}">
</form>
{ endfor }


<div id="container">
    { set image = "" }{ set colour = "" }{ set like = "" }{ set num = 0 } { set first = "" } { set break = false } { for food in food if not break } { set num = num + 1 } { if food.category == display } { set first = food.name }{ set colour = food.colour } { set image = food.image } { set like = food.likeButton } { set break = true } { endif } { endfor }


    <div style="background-color:#{{ colour }}" class="split left">
        <h1>{{ first }}</h1>

        <img id="primaryImage" src="{{ image }}" class="image">
        <form action="./favourites.php" method="POST">
            <input class="hidden" name="foodname" type="text" value="{{ first }}"> { if like == "grey" }

            <input class="fav grey" type="image" src="views/assets/heart.png" border="0" alt="Submit" /> { else }

            <input class="fav" type="image" border="0" src="views/assets/heart.png" alt="Submit" /> { endif }
        </form>
    </div>
    <div class="split right">
        <div class="centered_right">

            { for food in food|slice(num) } { if food.category == display }
            <div class="box" style="background-color:#{{ food.colour }}"><img src="{{ food.image }}" class="imagebox"> 
                
                <div>
                       
                    <form action="./favourites.php" method="POST">
                        <input class="hidden" name="foodname" type="text" value="{{ food.name }}"> { if food.likeButton == "grey" }

                        <input class="fav grey" type="image" src="views/assets/heart.png" border="0" alt="Submit" /> { else }

                        <input class="fav" type="image" border="0" src="views/assets/heart.png" alt="Submit" /> { endif }
                    </form>
                        
                   
                            <div id="square"></div>
                            <a href="contacttrail.php">  <p>{{ food.name }}</p></a>
                          
                  

                </div>
                

            </div>
            { endif } { endfor }
        

        </div>
    </div>
<!-- <div id="ddddd"></div> -->

</div>
{ endblock }