<!DOCTYPE html>
<html lang="en">

<head>
    <meta chafont-size:50px;rset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </link>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./views/menuChoiceStyle.css">
    </link>
    <title>Menu </title>

</head>
<section class="container">

    <!-- <div class="level1">
        <article>
            <h1 id="h11">
                Hungry?!
            </h1>

            <p id="p11">Good, we're here to <b> serve </b> you!
            </p>
        </article>
    </div> -->


    <div class="left item">
        <div class="centered">
            <img src="{{ food[0].image }}" alt="Avatar woman">
            <h2>{{ food[0].name }}</h2>
            <p>{{ food[0].category }}</p>
        </div>
    </div>



    <!-- <div class="level2">

        <section class="burgers">
            { for food in food }
            <div class="burger1">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img id="burger" src="{{ food.image }}">
                            <p>{{ food.name }}</p>
                        </div>
                        <div class="flip-card-back">
                            <h1>
                                INGREDIENTS <br><br>
                                4 hamburger patties<br>
                                kosher salt<br>
                                Freshly ground black pepper<br>
                                4 slices cheddar<br>
                                8 slices bacon<br>
                                4 Hamburger buns<br>
                                2 tablespoons mayonnaise<br>
                                4 pieces lettuce<br>
                                4 tomato slices<br>


                            </h1>

                        </div>
                    </div>
                </div>
            </div>  -->

            { endfor }




        </section>

        <body>
        </body>

</html>